scenarios/n8n/n8n scenario 2.json
{
  "name": "aspec scenario 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {
          "sender": "ceo@acmecorp.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d89148d7-2a10-405e-bde2-90fc199dd3fd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "2kdOK9XGjvvpO7KZ",
          "name": "Gmail account aidancardinaal@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "35920bda-9063-80ed-b352-d98c9c03ce03",
          "mode": "list",
          "cachedResultName": "Email Tracker",
          "cachedResultUrl": "https://www.notion.so/35920bda906380edb352d98c9c03ce03"
        },
        "title": "Mail",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Sender|title",
              "title": "={{ $json.From }}"
            },
            {
              "key": "Body|rich_text",
              "rich_text": "={{ $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "6e05e509-aead-4ec3-9ef7-29e374ebb387",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "nQNj1vVSOc2WqMgI",
          "name": "Notion account aidan"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "erik@fiber.nl",
        "subject": "Respond to Customer",
        "emailType": "text",
        "message": "=The CEO of Acme Corp {{$json.property_sender}} has reached out. Respond to them!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "7d4167c9-7e79-481c-976b-41cdd4f37662",
      "name": "Send a message",
      "webhookId": "a74f6587-57f1-478d-8bbd-98cdce78472c",
      "credentials": {
        "gmailOAuth2": {
          "id": "2kdOK9XGjvvpO7KZ",
          "name": "Gmail account aidancardinaal@gmail.com"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "51ae5a22-b7a1-4bce-beef-31819a577fc6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a278955833c6c59e4ccf55d24f1838bfc99543576c9424abc9a288172f0d40c"
  },
  "id": "j4JMUKWMWFgl9VbJ",
  "tags": []
}